Repository eclipse-vertx/vertx-sql-client, pull requests merged in 2020-07, with the labels that each got.

#715 Add support for enums in Row/Tuple for DB2
  vertx-db2-client/src/main/asciidoc/index.adoc
  vertx-db2-client/src/main/java/examples/DB2ClientExamples.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/DB2RowImpl.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/DB2ParamDesc.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/drda/DRDAQueryRequest.java
  vertx-db2-client/src/test/java/io/vertx/db2client/DB2DataTypeTest.java
  vertx-db2-client/src/test/resources/init.sql
Labels: enhancement, module:db2

#706 Fix issue when prepared statement caching is enabled for DB2 driver
  vertx-db2-client/src/main/java/io/vertx/db2client/DB2Exception.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/DB2Decoder.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/DB2PreparedStatement.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/ExtendedQueryCommandBaseCodec.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/drda/NetSqlca.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/drda/SectionManager.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/drda/SqlCode.java
Labels: backport required, bug, module:db2

#707 Backport: Fix issue when prepared statement caching is enabled for DB2 driver
  vertx-db2-client/src/main/java/io/vertx/db2client/DB2Exception.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/DB2Decoder.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/DB2PreparedStatement.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/ExtendedQueryCommandBaseCodec.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/drda/NetSqlca.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/drda/SectionManager.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/drda/SqlCode.java
Labels: backport, bug, module:db2

#718 Backport support for enums in Row/Tuple for DB2 to 3.9
  vertx-db2-client/src/main/asciidoc/index.adoc
  vertx-db2-client/src/main/java/examples/DB2ClientExamples.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/DB2RowImpl.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/DB2ParamDesc.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/drda/DRDAQueryRequest.java
  vertx-db2-client/src/test/java/io/vertx/db2client/DB2DataTypeTest.java
  vertx-db2-client/src/test/resources/init.sql
Labels: backport, module:db2
