Repository eclipse-vertx/vertx-sql-client, pull requests merged in 2020-03, with the labels that each got.

#535 Add missing override methods for MySQLConnection interface
  vertx-mysql-client/src/main/java/io/vertx/mysqlclient/MySQLConnection.java
Labels: module:mysql, trivial

#536 Add missing override methods for MySQLConnection interface
  vertx-mysql-client/src/main/java/io/vertx/mysqlclient/MySQLConnection.java
Labels: module:mysql, trivial

#523 Initial transaction implementation for DB2
  vertx-db2-client/pom.xml
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/DB2SocketConnection.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/ExtendedQueryCommandCodec.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/QueryCommandBaseCodec.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/SimpleQueryCommandCodec.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/drda/Cursor.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/drda/NetSqlca.java
  vertx-db2-client/src/test/java/io/vertx/db2client/tck/DB2TransactionTest.java
  vertx-db2-client/src/test/resources/init.sql
  vertx-mssql-client/src/test/java/io/vertx/mssqlclient/tck/MSSQLTransactionTest.java
  vertx-mysql-client/src/main/java/io/vertx/mysqlclient/impl/MySQLSocketConnection.java
  vertx-mysql-client/src/test/java/io/vertx/mysqlclient/junit/MySQLRule.java
  vertx-mysql-client/src/test/java/io/vertx/mysqlclient/tck/MySQLTransactionTest.java
  vertx-pg-client/src/main/java/io/vertx/pgclient/impl/PgSocketConnection.java
  vertx-pg-client/src/test/java/io/vertx/pgclient/PgTransactionTest.java
  vertx-pg-client/src/test/java/io/vertx/pgclient/tck/PgTransactionTest.java
  vertx-sql-client/src/main/java/io/vertx/sqlclient/impl/PreparedQueryImpl.java
  vertx-sql-client/src/main/java/io/vertx/sqlclient/impl/SqlClientBase.java
  vertx-sql-client/src/main/java/io/vertx/sqlclient/impl/SqlConnectionBase.java
  vertx-sql-client/src/main/java/io/vertx/sqlclient/impl/TransactionImpl.java
  vertx-sql-client/src/main/java/io/vertx/sqlclient/impl/command/ExtendedBatchQueryCommand.java
  vertx-sql-client/src/main/java/io/vertx/sqlclient/impl/command/ExtendedQueryCommand.java
  vertx-sql-client/src/main/java/io/vertx/sqlclient/impl/command/ExtendedQueryCommandBase.java
  vertx-sql-client/src/main/java/io/vertx/sqlclient/impl/command/QueryCommandBase.java
  vertx-sql-client/src/main/java/io/vertx/sqlclient/impl/command/SimpleQueryCommand.java
  vertx-sql-client/src/test/java/io/vertx/sqlclient/tck/TransactionTestBase.java
Labels: module:db2

#539 Enable MySQL transaction TCK tests
  vertx-mysql-client/src/test/java/io/vertx/mysqlclient/MySQLTransactionTest.java
  vertx-mysql-client/src/test/java/io/vertx/mysqlclient/tck/MySQLTransactionTest.java
  vertx-sql-client/src/test/java/io/vertx/sqlclient/tck/TransactionTestBase.java
Labels: module:mysql

#543 Enable DB2Collector error path tests
  vertx-db2-client/src/test/java/io/vertx/db2client/tck/DB2CollectorTest.java
Labels: module:db2

#540 Add a section of best practices for MySQL
  vertx-mysql-client/src/main/asciidoc/index.adoc
Labels: doc, module:mysql

#537 Initial progress on batch queries
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/DB2Encoder.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/DB2PreparedStatement.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/ExtendedBatchQueryCommandCodec.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/ExtendedQueryCommandBaseCodec.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/ExtendedQueryCommandCodec.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/QueryCommandBaseCodec.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/SimpleQueryCommandCodec.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/drda/DRDAQueryRequest.java
  vertx-db2-client/src/test/java/io/vertx/db2client/tck/DB2PreparedBatchTest.java
  vertx-pg-client/src/main/java/io/vertx/pgclient/impl/codec/ExtendedBatchQueryCommandCodec.java
  vertx-pg-client/src/test/java/io/vertx/pgclient/PreparedBatchTest.java
  vertx-sql-client/src/test/java/io/vertx/sqlclient/tck/PreparedBatchTestBase.java
Labels: module:db2

#547 Support for queries that return auto-generated keys
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/DB2Encoder.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/DB2ParamDesc.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/DB2RowDesc.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/SimpleQueryCommandCodec.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/drda/ClientTypes.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/drda/ColumnMetaData.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/drda/DRDAQueryResponse.java
  vertx-db2-client/src/test/java/io/vertx/db2client/DB2TestBase.java
  vertx-db2-client/src/test/java/io/vertx/db2client/GeneratedKeysTest.java
  vertx-db2-client/src/test/java/io/vertx/db2client/tck/ClientConfig.java
Labels: module:db2

#550 Enable binary data type TCK tests
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/DB2ParamDesc.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/ExtendedBatchQueryCommandCodec.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/ExtendedQueryCommandBaseCodec.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/ExtendedQueryCommandCodec.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/PrepareStatementCodec.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/QueryCommandBaseCodec.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/RowResultDecoder.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/drda/ClientTypes.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/drda/ColumnMetaData.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/drda/CrossConverters.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/drda/Cursor.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/drda/DRDAQueryRequest.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/drda/DRDARequest.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/drda/SqlCode.java
  vertx-db2-client/src/test/java/io/vertx/db2client/tck/DB2BinaryDataTypeDecodeTest.java
  vertx-db2-client/src/test/java/io/vertx/db2client/tck/DB2BinaryDataTypeEncodeTest.java
  vertx-mysql-client/src/test/java/io/vertx/mysqlclient/tck/MySQLBinaryDataTypeDecodeTest.java
  vertx-sql-client/src/main/java/io/vertx/sqlclient/impl/ArrayTuple.java
  vertx-sql-client/src/main/java/io/vertx/sqlclient/impl/ListTuple.java
  vertx-sql-client/src/test/java/io/vertx/sqlclient/tck/BinaryDataTypeDecodeTestBase.java
Labels: module:db2

#553 Add tests for table joins and subqueries
  vertx-db2-client/.gitignore
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/CommandCodec.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/DB2Decoder.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/drda/ColumnMetaData.java
  vertx-db2-client/src/test/java/io/vertx/db2client/DB2TestBase.java
  vertx-db2-client/src/test/java/io/vertx/db2client/QueryVariationsTest.java
  vertx-db2-client/src/test/java/io/vertx/db2client/TableJoinTest.java
  vertx-sql-client/src/main/java/io/vertx/sqlclient/impl/ListTuple.java
Labels: module:db2

#541 Remove redundant Postgres property intervalStyle
  vertx-pg-client/src/main/java/io/vertx/pgclient/PgConnectOptions.java
Labels: module:pg

#555 Remove redundant Postgres property intervalStyle
  vertx-pg-client/src/main/java/io/vertx/pgclient/PgConnectOptions.java
Labels: module:pg

#557 Add DB2 ping test
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/DB2ConnectionImpl.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/DB2Encoder.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/PingCommandCodec.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/command/PingCommand.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/drda/DRDAQueryRequest.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/drda/SQLState.java
  vertx-db2-client/src/test/java/io/vertx/db2client/DB2PingTest.java
  vertx-db2-client/src/test/java/io/vertx/db2client/DB2TestBase.java
  vertx-db2-client/src/test/java/io/vertx/db2client/junit/DB2Resource.java
  vertx-sql-client/src/main/java/io/vertx/sqlclient/Tuple.java
  vertx-sql-client/src/main/java/io/vertx/sqlclient/impl/ArrayTuple.java
Labels: module:db2
