Repository eclipse-vertx/vertx-sql-client, pull requests merged in 2020-05, with the labels that each got.

#603 Additional basic DB2 input validation
  vertx-db2-client/src/main/java/io/vertx/db2client/DB2ConnectOptions.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/DB2Encoder.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/InitialHandshakeCommandCodec.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/drda/DRDAConnectResponse.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/drda/DRDAQueryResponse.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/drda/NetSqlca.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/drda/SqlCode.java
  vertx-db2-client/src/test/java/io/vertx/db2client/DB2DataTypeTest.java
  vertx-db2-client/src/test/java/io/vertx/db2client/DB2ErrorMessageTest.java
Labels: module:db2

#598 Use unique PRDID of JNT
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/drda/DRDAConnectResponse.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/drda/DRDAConstants.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/drda/DRDAQueryResponse.java
  vertx-db2-client/src/test/java/io/vertx/db2client/tck/DB2BinaryDataTypeDecodeTest.java
  vertx-db2-client/src/test/java/io/vertx/db2client/tck/DB2BinaryDataTypeEncodeTest.java
  vertx-db2-client/src/test/java/io/vertx/db2client/tck/DB2CollectorTest.java
  vertx-db2-client/src/test/java/io/vertx/db2client/tck/DB2ConnectionTest.java
  vertx-db2-client/src/test/java/io/vertx/db2client/tck/DB2PreparedBatchTest.java
  vertx-db2-client/src/test/java/io/vertx/db2client/tck/DB2PreparedQueryCachedTest.java
  vertx-db2-client/src/test/java/io/vertx/db2client/tck/DB2PreparedQueryTestBase.java
  vertx-db2-client/src/test/java/io/vertx/db2client/tck/DB2SimpleQueryPooledTest.java
  vertx-db2-client/src/test/java/io/vertx/db2client/tck/DB2SimpleQueryTest.java
  vertx-db2-client/src/test/java/io/vertx/db2client/tck/DB2TextDataTypeDecodeTest.java
  vertx-db2-client/src/test/java/io/vertx/db2client/tck/DB2TransactionTest.java
Labels: module:db2

#621 Backport PR #618 (PG and MySQL only)
  vertx-mysql-client/src/main/java/io/vertx/mysqlclient/MySQLConnectOptions.java
  vertx-mysql-client/src/main/java/io/vertx/mysqlclient/spi/MySQLDriver.java
  vertx-mysql-client/src/main/resources/META-INF/services/io.vertx.sqlclient.spi.Driver
  vertx-mysql-client/src/test/java/io/vertx/mysqlclient/tck/MySQLDriverTest.java
  vertx-pg-client/src/main/java/io/vertx/pgclient/PgConnectOptions.java
  vertx-pg-client/src/main/java/io/vertx/pgclient/spi/PgDriver.java
  vertx-pg-client/src/main/resources/META-INF/services/io.vertx.sqlclient.spi.Driver
  vertx-pg-client/src/test/java/io/vertx/pgclient/tck/PgDriverTest.java
  vertx-sql-client/src/main/java/io/vertx/sqlclient/Pool.java
  vertx-sql-client/src/main/java/io/vertx/sqlclient/SqlConnectOptions.java
  vertx-sql-client/src/main/java/io/vertx/sqlclient/spi/Driver.java
  vertx-sql-client/src/test/java/io/vertx/sqlclient/tck/DriverTestBase.java
Labels: backport

#623 Apply source formatting for DB2 module
  vertx-db2-client/src/main/java/examples/DB2ClientExamples.java
  vertx-db2-client/src/main/java/examples/SqlClientExamples.java
  vertx-db2-client/src/main/java/io/vertx/db2client/DB2ConnectOptions.java
  vertx-db2-client/src/main/java/io/vertx/db2client/DB2Connection.java
  vertx-db2-client/src/main/java/io/vertx/db2client/DB2Exception.java
  vertx-db2-client/src/main/java/io/vertx/db2client/DB2Pool.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/DB2ConnectionFactory.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/DB2ConnectionImpl.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/DB2ConnectionUriParser.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/DB2PoolImpl.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/DB2RowImpl.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/DB2SocketConnection.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/AuthenticationCommandBaseCodec.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/CloseConnectionCommandCodec.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/CloseCursorCommandCodec.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/CommandCodec.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/DB2Codec.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/DB2Decoder.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/DB2Encoder.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/DB2ParamDesc.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/DB2PreparedStatement.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/DB2RowDesc.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/ExtendedBatchQueryCommandCodec.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/ExtendedQueryCommandBaseCodec.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/ExtendedQueryCommandCodec.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/InitialHandshakeCommandCodec.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/PingCommandCodec.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/PrepareStatementCodec.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/QueryCommandBaseCodec.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/RowResultDecoder.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/SimpleQueryCommandCodec.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/command/AuthenticationCommandBase.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/command/InitialHandshakeCommand.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/util/BufferUtils.java
  vertx-db2-client/src/test/java/io/vertx/db2client/DB2ErrorMessageTest.java
  vertx-db2-client/src/test/java/io/vertx/db2client/QueryVariationsTest.java
  vertx-db2-client/src/test/java/io/vertx/db2client/TableJoinTest.java
  vertx-db2-client/src/test/java/io/vertx/db2client/tck/ClientConfig.java
  vertx-db2-client/src/test/java/io/vertx/db2client/tck/DB2TextDataTypeDecodeTest.java
Labels: module:db2, trivial

#597 Rework the prepared statement cache and evict the statement from the …
  vertx-pg-client/docker/postgres/resources/create-postgres.sql
  vertx-pg-client/src/main/java/io/vertx/pgclient/impl/codec/ExtendedBatchQueryCommandCodec.java
  vertx-pg-client/src/main/java/io/vertx/pgclient/impl/codec/ExtendedQueryCommandBaseCodec.java
  vertx-pg-client/src/main/java/io/vertx/pgclient/impl/codec/ExtendedQueryCommandCodec.java
  vertx-pg-client/src/main/java/io/vertx/pgclient/impl/codec/PgEncoder.java
  vertx-pg-client/src/test/java/io/vertx/pgclient/PreparedStatementCachedTest.java
  vertx-sql-client/src/main/java/io/vertx/sqlclient/impl/PreparedStatementCache.java
  vertx-sql-client/src/main/java/io/vertx/sqlclient/impl/SocketConnectionBase.java
  vertx-sql-client/src/main/java/io/vertx/sqlclient/impl/cache/InflightCachingStmtEntry.java
  vertx-sql-client/src/main/java/io/vertx/sqlclient/impl/cache/LruCache.java
  vertx-sql-client/src/main/java/io/vertx/sqlclient/impl/cache/PreparedStatementCache.java
  vertx-sql-client/src/main/java/io/vertx/sqlclient/impl/codec/InvalidCachedStatementEvent.java
  vertx-sql-client/src/test/java/io/vertx/sqlclient/tck/PreparedQueryCachedTestBase.java
Labels: need backport

#622 MySQL geometric data type should not be Vert.x data object anymore
  vertx-mysql-client/src/main/asciidoc/dataobjects.adoc
  vertx-mysql-client/src/main/generated/io/vertx/mysqlclient/data/spatial/GeometryCollectionConverter.java
  vertx-mysql-client/src/main/generated/io/vertx/mysqlclient/data/spatial/GeometryConverter.java
  vertx-mysql-client/src/main/generated/io/vertx/mysqlclient/data/spatial/LineStringConverter.java
  vertx-mysql-client/src/main/generated/io/vertx/mysqlclient/data/spatial/MultiLineStringConverter.java
  vertx-mysql-client/src/main/generated/io/vertx/mysqlclient/data/spatial/MultiPointConverter.java
  vertx-mysql-client/src/main/generated/io/vertx/mysqlclient/data/spatial/MultiPolygonConverter.java
  vertx-mysql-client/src/main/generated/io/vertx/mysqlclient/data/spatial/PointConverter.java
  vertx-mysql-client/src/main/generated/io/vertx/mysqlclient/data/spatial/PolygonConverter.java
  vertx-mysql-client/src/main/java/io/vertx/mysqlclient/data/spatial/Geometry.java
  vertx-mysql-client/src/main/java/io/vertx/mysqlclient/data/spatial/GeometryCollection.java
  vertx-mysql-client/src/main/java/io/vertx/mysqlclient/data/spatial/LineString.java
  vertx-mysql-client/src/main/java/io/vertx/mysqlclient/data/spatial/MultiLineString.java
  vertx-mysql-client/src/main/java/io/vertx/mysqlclient/data/spatial/MultiPoint.java
  vertx-mysql-client/src/main/java/io/vertx/mysqlclient/data/spatial/MultiPolygon.java
  vertx-mysql-client/src/main/java/io/vertx/mysqlclient/data/spatial/Point.java
  vertx-mysql-client/src/main/java/io/vertx/mysqlclient/data/spatial/Polygon.java
Labels: module:mysql, trivial

#624 rework the prepared statement cache and evict the statement from the …
  vertx-pg-client/docker/postgres/resources/create-postgres.sql
  vertx-pg-client/src/main/java/io/vertx/pgclient/impl/codec/ExtendedBatchQueryCommandCodec.java
  vertx-pg-client/src/main/java/io/vertx/pgclient/impl/codec/ExtendedQueryCommandBaseCodec.java
  vertx-pg-client/src/main/java/io/vertx/pgclient/impl/codec/ExtendedQueryCommandCodec.java
  vertx-pg-client/src/main/java/io/vertx/pgclient/impl/codec/PgEncoder.java
  vertx-pg-client/src/test/java/io/vertx/pgclient/PreparedStatementCachedTest.java
  vertx-sql-client/src/main/java/io/vertx/sqlclient/impl/PreparedStatementCache.java
  vertx-sql-client/src/main/java/io/vertx/sqlclient/impl/SocketConnectionBase.java
  vertx-sql-client/src/main/java/io/vertx/sqlclient/impl/cache/InflightCachingStmtEntry.java
  vertx-sql-client/src/main/java/io/vertx/sqlclient/impl/cache/LruCache.java
  vertx-sql-client/src/main/java/io/vertx/sqlclient/impl/cache/PreparedStatementCache.java
  vertx-sql-client/src/main/java/io/vertx/sqlclient/impl/codec/InvalidCachedStatementEvent.java
  vertx-sql-client/src/test/java/io/vertx/sqlclient/tck/PreparedQueryCachedTestBase.java
Labels: backport

#538 Sql template
  pom.xml
  vertx-mssql-client/src/main/java/io/vertx/mssqlclient/impl/MSSQLConnectionImpl.java
  vertx-mssql-client/src/main/java/io/vertx/mssqlclient/impl/MSSQLPoolImpl.java
  vertx-pg-client/src/main/java/io/vertx/pgclient/impl/PgConnectionImpl.java
  vertx-pg-client/src/main/java/io/vertx/pgclient/impl/PgPoolImpl.java
  vertx-pg-client/src/test/java/io/vertx/pgclient/PgClientTestBase.java
  vertx-sql-client-templates/pom.xml
  vertx-sql-client-templates/src/main/asciidoc/index.adoc
  vertx-sql-client-templates/src/main/java/examples/TemplateExamples.java
  vertx-sql-client-templates/src/main/java/io/vertx/sqlclient/templates/SqlTemplate.java
  vertx-sql-client-templates/src/main/java/io/vertx/sqlclient/templates/annotations/Column.java
  vertx-sql-client-templates/src/main/java/io/vertx/sqlclient/templates/annotations/ParametersMapped.java
  vertx-sql-client-templates/src/main/java/io/vertx/sqlclient/templates/annotations/RowMapped.java
  vertx-sql-client-templates/src/main/java/io/vertx/sqlclient/templates/annotations/TemplateParameter.java
  vertx-sql-client-templates/src/main/java/io/vertx/sqlclient/templates/generator/MapperGenBase.java
  vertx-sql-client-templates/src/main/java/io/vertx/sqlclient/templates/generator/MapperGenLoader.java
  vertx-sql-client-templates/src/main/java/io/vertx/sqlclient/templates/generator/ParametersMapperGen.java
  vertx-sql-client-templates/src/main/java/io/vertx/sqlclient/templates/generator/RowMapperGen.java
  vertx-sql-client-templates/src/main/java/io/vertx/sqlclient/templates/impl/SqlTemplate.java
  vertx-sql-client-templates/src/main/java/io/vertx/sqlclient/templates/impl/SqlTemplateImpl.java
  vertx-sql-client-templates/src/main/java/io/vertx/sqlclient/templates/package-info.java
  vertx-sql-client-templates/src/test/asciidoc/dataobjects.adoc
  vertx-sql-client-templates/src/test/generated/io/vertx/sqlclient/templates/LocalDateTimeDataObjectRowMapper.java
  vertx-sql-client-templates/src/test/generated/io/vertx/sqlclient/templates/MySQLDataObjectParametersMapper.java
  vertx-sql-client-templates/src/test/generated/io/vertx/sqlclient/templates/MySQLDataObjectRowMapper.java
  vertx-sql-client-templates/src/test/generated/io/vertx/sqlclient/templates/PostgreSQLDataObjectParametersMapper.java
  vertx-sql-client-templates/src/test/generated/io/vertx/sqlclient/templates/PostgreSQLDataObjectRowMapper.java
  vertx-sql-client-templates/src/test/generated/io/vertx/sqlclient/templates/TestDataObjectParametersMapper.java
  vertx-sql-client-templates/src/test/generated/io/vertx/sqlclient/templates/TestDataObjectRowMapper.java
  vertx-sql-client-templates/src/test/generated/io/vertx/sqlclient/templates/UserDataObjectRowMapper.java
  vertx-sql-client-templates/src/test/java/io/vertx/sqlclient/templates/DataObjectMapper.java
  vertx-sql-client-templates/src/test/java/io/vertx/sqlclient/templates/DataObjectParamsTest.java
  vertx-sql-client-templates/src/test/java/io/vertx/sqlclient/templates/DataObjectTypesTest.java
  vertx-sql-client-templates/src/test/java/io/vertx/sqlclient/templates/JsonObjectDataObject.java
  vertx-sql-client-templates/src/test/java/io/vertx/sqlclient/templates/LocalDateTimeDataObject.java
  vertx-sql-client-templates/src/test/java/io/vertx/sqlclient/templates/LocalDateTimePojo.java
  vertx-sql-client-templates/src/test/java/io/vertx/sqlclient/templates/MySQLDataObject.java
  vertx-sql-client-templates/src/test/java/io/vertx/sqlclient/templates/MySQLTest.java
  vertx-sql-client-templates/src/test/java/io/vertx/sqlclient/templates/PgClientTest.java
  vertx-sql-client-templates/src/test/java/io/vertx/sqlclient/templates/PgTemplateTestBase.java
  vertx-sql-client-templates/src/test/java/io/vertx/sqlclient/templates/PostgreSQLDataObject.java
  vertx-sql-client-templates/src/test/java/io/vertx/sqlclient/templates/TemplateBuilderTest.java
  vertx-sql-client-templates/src/test/java/io/vertx/sqlclient/templates/TestDataObject.java
  vertx-sql-client-templates/src/test/java/io/vertx/sqlclient/templates/UserDataObject.java
  vertx-sql-client-templates/src/test/java/io/vertx/sqlclient/templates/World.java
  vertx-sql-client-templates/src/test/java/io/vertx/sqlclient/templates/wrappers/BooleanWrapper.java
  vertx-sql-client-templates/src/test/java/io/vertx/sqlclient/templates/wrappers/DoubleWrapper.java
  vertx-sql-client-templates/src/test/java/io/vertx/sqlclient/templates/wrappers/FloatWrapper.java
  vertx-sql-client-templates/src/test/java/io/vertx/sqlclient/templates/wrappers/IntegerWrapper.java
  vertx-sql-client-templates/src/test/java/io/vertx/sqlclient/templates/wrappers/JsonArrayWrapper.java
  vertx-sql-client-templates/src/test/java/io/vertx/sqlclient/templates/wrappers/JsonObjectWrapper.java
  vertx-sql-client-templates/src/test/java/io/vertx/sqlclient/templates/wrappers/LongWrapper.java
  vertx-sql-client-templates/src/test/java/io/vertx/sqlclient/templates/wrappers/ShortWrapper.java
  vertx-sql-client-templates/src/test/java/io/vertx/sqlclient/templates/wrappers/StringWrapper.java
  vertx-sql-client-templates/src/test/java/io/vertx/sqlclient/templates/wrappers/WrapperBase.java
  vertx-sql-client-templates/src/test/resources/META-INF/services/io.vertx.codegen.GeneratorLoader
  vertx-sql-client-templates/src/test/resources/META-INF/vertx/json-mappers.properties
  vertx-sql-client/src/main/java/io/vertx/sqlclient/impl/SqlClientBase.java
  vertx-sql-client/src/main/java/io/vertx/sqlclient/impl/SqlClientInternal.java
Labels: enhancement

#629 Reduce initial handshake from 2 server round-trips to 1 round-trip
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/InitialHandshakeCommandCodec.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/drda/DB2Package.java
Labels: module:db2

#632 Backport: Reduce initial handshake from 2 server round-trips to 1 round-trip
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/InitialHandshakeCommandCodec.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/drda/DB2Package.java
Labels: backport, module:db2

#634 Backport: Fix NPE in generic connection init path
  vertx-sql-client/src/main/java/io/vertx/sqlclient/SqlConnectOptions.java
  vertx-sql-client/src/test/java/io/vertx/sqlclient/tck/DriverTestBase.java
Labels: backport, bug

#628 Add support for mssql nbcrow & nullable datatypes
  vertx-mssql-client/src/main/asciidoc/index.adoc
  vertx-mssql-client/src/main/java/io/vertx/mssqlclient/impl/codec/ExtendedQueryCommandCodec.java
  vertx-mssql-client/src/main/java/io/vertx/mssqlclient/impl/codec/MSSQLDataTypeCodec.java
  vertx-mssql-client/src/main/java/io/vertx/mssqlclient/impl/codec/QueryCommandBaseCodec.java
  vertx-mssql-client/src/main/java/io/vertx/mssqlclient/impl/codec/RowResultDecoder.java
  vertx-mssql-client/src/main/java/io/vertx/mssqlclient/impl/codec/SQLBatchCommandCodec.java
  vertx-mssql-client/src/main/java/io/vertx/mssqlclient/impl/protocol/datatype/BitNDataType.java
  vertx-mssql-client/src/main/java/io/vertx/mssqlclient/impl/protocol/datatype/FloatNDataType.java
  vertx-mssql-client/src/main/java/io/vertx/mssqlclient/impl/protocol/datatype/IntNDataType.java
  vertx-mssql-client/src/test/java/io/vertx/mssqlclient/data/MSSQLDataTypeTestBase.java
  vertx-mssql-client/src/test/java/io/vertx/mssqlclient/data/MSSQLFullDataTypeTestBase.java
  vertx-mssql-client/src/test/java/io/vertx/mssqlclient/data/MSSQLNotNullableDataTypeTestBase.java
  vertx-mssql-client/src/test/java/io/vertx/mssqlclient/data/MSSQLNullableDataTypeTestBase.java
  vertx-mssql-client/src/test/java/io/vertx/mssqlclient/data/MSSQLPreparedQueryNotNullableDataTypeTest.java
  vertx-mssql-client/src/test/java/io/vertx/mssqlclient/data/MSSQLPreparedQueryNullableDataTypeTest.java
  vertx-mssql-client/src/test/java/io/vertx/mssqlclient/data/MSSQLQueryNotNullableDataTypeTest.java
  vertx-mssql-client/src/test/java/io/vertx/mssqlclient/data/MSSQLQueryNullableDataTypeTest.java
  vertx-mssql-client/src/test/java/io/vertx/mssqlclient/tck/MSSQLBinaryDataTypeDecodeTest.java
  vertx-mssql-client/src/test/java/io/vertx/mssqlclient/tck/MSSQLBinaryDataTypeEncodeTest.java
  vertx-mssql-client/src/test/resources/init.sql
Labels: module:mssql

#636 use default properties for mssql when connection properties does not …
  vertx-mssql-client/src/main/java/io/vertx/mssqlclient/MSSQLConnectOptions.java
  vertx-mssql-client/src/main/java/io/vertx/mssqlclient/impl/codec/InitCommandCodec.java
  vertx-mssql-client/src/test/java/io/vertx/mssqlclient/MSSQLConnectionTest.java
Labels: module:mssql

#633 Fix NPE in generic connection init path
  vertx-sql-client/src/main/java/io/vertx/sqlclient/SqlConnectOptions.java
  vertx-sql-client/src/test/java/io/vertx/sqlclient/tck/DriverTestBase.java
Labels: bug

#637 Add enum support for mssql
  vertx-mssql-client/src/main/asciidoc/index.adoc
  vertx-mssql-client/src/main/java/examples/MSSQLClientExamples.java
  vertx-mssql-client/src/main/java/io/vertx/mssqlclient/impl/MSSQLRowImpl.java
  vertx-mssql-client/src/main/java/io/vertx/mssqlclient/impl/codec/ExtendedQueryCommandCodec.java
  vertx-mssql-client/src/main/java/io/vertx/mssqlclient/impl/codec/MSSQLDataTypeCodec.java
  vertx-mssql-client/src/test/java/io/vertx/mssqlclient/data/MSSQLDataTypeTestBase.java
  vertx-mssql-client/src/test/java/io/vertx/mssqlclient/data/MSSQLEnumDataTypeTest.java
Labels: enhancement, module:mssql

#642 PgException getter and getMessage with all fields, PgErrorCodes
  vertx-pg-client/src/main/java/io/vertx/pgclient/PgException.java
  vertx-pg-client/src/main/java/io/vertx/pgclient/impl/codec/ErrorResponse.java
  vertx-pg-client/src/test/java/io/vertx/pgclient/PgConnectionTest.java
  vertx-pg-client/src/test/java/io/vertx/pgclient/PgExceptionTest.java
  vertx-pg-client/src/test/java/io/vertx/pgclient/PgPoolTestBase.java
  vertx-pg-client/src/test/java/io/vertx/pgclient/PgTestBase.java
  vertx-pg-client/src/test/java/io/vertx/pgclient/impl/codec/ResponseHelper.java
Labels: module:pg

#649 Fix NPE on query error path and improve error reporting
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/drda/DRDAQueryResponse.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/drda/NetSqlca.java
  vertx-db2-client/src/test/java/io/vertx/db2client/tck/DB2SimpleQueryTest.java
Labels: bug

#651 Backport: Fix NPE on query error path and improve error reporting
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/drda/DRDAQueryResponse.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/drda/NetSqlca.java
  vertx-db2-client/src/test/java/io/vertx/db2client/tck/DB2SimpleQueryTest.java
Labels: backport, bug, module:db2

#652 DB2 support for LocalTime and BigDecimal
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/DB2RowImpl.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/drda/ClientTypes.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/drda/SqlCode.java
  vertx-db2-client/src/test/java/io/vertx/db2client/tck/DB2BinaryDataTypeEncodeTest.java
  vertx-mysql-client/src/test/java/io/vertx/mysqlclient/tck/MySQLBinaryDataTypeEncodeTest.java
  vertx-sql-client/src/test/java/io/vertx/sqlclient/tck/BinaryDataTypeEncodeTestBase.java
Labels: backport, enhancement, module:db2

#661 Rework Tracing tests
  vertx-db2-client/src/test/java/io/vertx/db2client/tck/DB2TracingTest.java
  vertx-mssql-client/src/test/java/io/vertx/mssqlclient/tck/MSSQLTracingTest.java
  vertx-mysql-client/src/test/java/io/vertx/mysqlclient/tck/MySQLTracingTest.java
  vertx-pg-client/src/test/java/io/vertx/pgclient/tck/PgTracingTest.java
  vertx-sql-client/src/test/java/io/vertx/sqlclient/tck/TracingTestBase.java
Labels: trivial

#656 Add documentation for DB2 client
  vertx-db2-client/src/main/asciidoc/index.adoc
  vertx-db2-client/src/main/java/examples/DB2ClientExamples.java
Labels: backport required, doc, module:db2

#663 Decimal precision fix
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/drda/DRDAQueryRequest.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/drda/NetSqlca.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/drda/SqlCode.java
Labels: backport required, bug, module:db2

#665 Initial database metadata API
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/DB2DatabaseMetadata.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/DB2SocketConnection.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/CloseConnectionCommandCodec.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/CloseCursorCommandCodec.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/DB2Encoder.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/ExtendedBatchQueryCommandCodec.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/ExtendedQueryCommandBaseCodec.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/ExtendedQueryCommandCodec.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/InitialHandshakeCommandCodec.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/PrepareStatementCodec.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/QueryCommandBaseCodec.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/codec/SimpleQueryCommandCodec.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/drda/ConnectionMetaData.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/drda/DRDAConnectRequest.java
  vertx-db2-client/src/main/java/io/vertx/db2client/impl/drda/DRDAConnectResponse.java
  vertx-db2-client/src/test/java/io/vertx/db2client/tck/DB2ConnectionTest.java
  vertx-mssql-client/src/main/java/io/vertx/mssqlclient/impl/MSSQLDatabaseMetadata.java
  vertx-mssql-client/src/main/java/io/vertx/mssqlclient/impl/MSSQLSocketConnection.java
  vertx-mssql-client/src/test/java/io/vertx/mssqlclient/tck/MSSQLConnectionTest.java
  vertx-mysql-client/src/main/java/io/vertx/mysqlclient/impl/MySQLDatabaseMetadata.java
  vertx-mysql-client/src/main/java/io/vertx/mysqlclient/impl/MySQLSocketConnection.java
  vertx-mysql-client/src/main/java/io/vertx/mysqlclient/impl/codec/InitialHandshakeCommandCodec.java
  vertx-mysql-client/src/test/java/io/vertx/mysqlclient/tck/MySQLConnectionTest.java
  vertx-pg-client/src/main/java/io/vertx/pgclient/impl/PgDatabaseMetadata.java
  vertx-pg-client/src/main/java/io/vertx/pgclient/impl/PgSocketConnection.java
  vertx-pg-client/src/main/java/io/vertx/pgclient/impl/codec/InitCommandCodec.java
  vertx-pg-client/src/test/java/io/vertx/pgclient/tck/PgConnectionTest.java
  vertx-sql-client/src/main/java/io/vertx/sqlclient/SqlClient.java
  vertx-sql-client/src/main/java/io/vertx/sqlclient/SqlConnection.java
  vertx-sql-client/src/main/java/io/vertx/sqlclient/impl/Connection.java
  vertx-sql-client/src/main/java/io/vertx/sqlclient/impl/SqlConnectionImpl.java
  vertx-sql-client/src/main/java/io/vertx/sqlclient/impl/pool/ConnectionPool.java
  vertx-sql-client/src/main/java/io/vertx/sqlclient/spi/DatabaseMetadata.java
  vertx-sql-client/src/test/java/io/vertx/sqlclient/impl/pool/SimpleConnection.java
  vertx-sql-client/src/test/java/io/vertx/sqlclient/tck/ConnectionTestBase.java
Labels: backport required, enhancement

#667 Rework MySQL client server version parsing
  vertx-mysql-client/src/main/java/io/vertx/mysqlclient/impl/MySQLDatabaseMetadata.java
  vertx-mysql-client/src/main/java/io/vertx/mysqlclient/impl/codec/InitialHandshakeCommandCodec.java
  vertx-mysql-client/src/test/java/io/vertx/mysqlclient/MySQLServerVersionParserTest.java
  vertx-mysql-client/src/test/java/io/vertx/mysqlclient/tck/MySQLConnectionTest.java
  vertx-sql-client/src/main/java/io/vertx/sqlclient/spi/DatabaseMetadata.java
Labels: module:mysql
